<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AIMSClient.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=ITQ-BRIAN\BRIAN;Integrated Security=SSPI;Initial Catalog=AIMSScheduler"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="wordDictionary.DictionaryFolder" value="..\\..\\..\\dic" />
    <add key="ConnectStringOLD" value="Server=DC1;Database=AIMS;User ID=aims;Password=aims1*"/>
    <add key="ConnectString" value="Server=ITQ-BRIAN-L\BRIAN;Database=AIMS_UPDATES;Data Source=ITQ-BRIAN-L\BRIAN;Integrated Security=SSPI" />
    <add key="ConnectStringDEV" value="Server=ITQ-BRIAN\SQLEXPRESS;Database=AIMS;Data Source=ITQ-BRIAN\SQLEXPRESS;Integrated Security=SSPI" />
    <add key="ReportsConnectString" value="Provider=SQLOLEDB;Server=ITQ-BRIAN\SQLEXPRESS;Database=AIMS;Data Source=ITQ-BRIAN\SQLEXPRESS;Integrated Security=SSPI" />
    <add key="CaseManagersSMSCellList" value="27836415911" />
  </appSettings>
</configuration>