<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ActiveConn" connectionString="Provider=MSDAORA.1;Data Source=LPBWFQA;User ID=lpbwf;Password=p1550ffmindkey"/>
    <add name="LCBActiveConn" connectionString="Provider=MSDAORA.1;Data Source=LCBWFQA;User ID=lcbwf;Password=p1550ffmindkey"/>
    <add name="LAActiveConn" connectionString="Provider=MSDAORA.1;Data Source=LPBWFQA;User ID=clwf;Password=p1550ffmindkey"/>
  </connectionStrings>
  <appSettings>
    <add key="LogsPath" value="\\mkdev\MKDev\MKLogs\Retail\AppServer\FAISBulkIndexing\Logs\"/>
    <add key="MKEYINDX" value="lib.biz.prov.mindkey.indexreq.indexreq"/>
    <add key="MKEYDOCIDUPD" value="lib.biz.expo.proc.mindkey.docidupdate.docidupdatereq"/>
    <add key="RecipientEmailAddr" value="sibusiso.maswanganye@liberty.co.za"/>
    <add key="FromEmailAddr" value="FAISCommitter@liberty.co.za"/>
    <add key="EmailServer" value="mail.liberty.co.za"/>
  </appSettings>
</configuration>