<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectStringDEV" value="Provider=SQLOLEDB;Data Source=ITQ-BRIAN-L\BRIAN;Integrated Security=SSPI;Initial Catalog=AIMS_UPDATES"/>
    <!--<add key="ConnectString" value="Server=10.0.0.12\JUPITER;Database=AIMS;User ID=aims;Password=Aims2016"/>-->
    <add key="ConnectString"  value="Server=LAPTOP-VM3C2I5J\WIGANPIER;Database=AIMS;Data Source=LAPTOP-VM3C2I5J\WIGANPIER;Integrated Security=SSPI"/>
  </appSettings>
</configuration>