<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectString" value="Server=ITQ-BRIAN-L\BRIAN;Database=AIMS_UPDATES;Data Source=ITQ-BRIAN-L\BRIAN;Integrated Security=SSPI" />
    <add key="ConnectStringPROD"    value="Provider=SQLOLEDB;Data Source=10.0.0.15;Database=AIMS;User ID=aims;Password=aims1**"/>
  </appSettings>
</configuration>