<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectStringOLD" value="Provider=SQLOLEDB;Data Source=DC1;Integrated Security=SSPI;Initial Catalog=AIMS"/>
    <add key="ConnectString"    value="Provider=SQLOLEDB;Data Source=DC1;Initial Catalog=AIMS;User ID=aims;Password=aims1**"/>
    <add key="SMTPServer"       value="za-smtp-outbound-1.mimecast.co.za"/>
    <add key="SMTPUserName"       value="operations@aims.org.za"/>
    <add key="SMTPPassword"       value="MimeOps@2021"/>
  </appSettings>
</configuration>