<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AIMSClient.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=ITQ-BRIAN\BRIAN;Integrated Security=SSPI;Initial Catalog=AIMS_UPDATES"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="wordDictionary.DictionaryFolder" value="..\\..\\..\\dic" />
    <add key="ConnectStringQA" value="Server=DC1;Database=AIMS;User ID=aims;Password=aims1*"/>
    <!--<add key="ConnectString" value="Server=ITQ-BRIAN\BRIAN;Database=AIMS_UPDATES;Data Source=ITQ-BRIAN\BRIAN;Integrated Security=SSPI" />-->
	<add key="ConnectString" value="Server=LAPTOP-VM3C2I5J\WIGANPIER;Database=AIMS;Data Source=LAPTOP-VM3C2I5J\WIGANPIER;Integrated Security=SSPI"/>
    <add key="ConnectStringDEV" value="Server=ITQ-BRIAN\SQLEXPRESS;Database=AIMS;Data Source=ITQ-BRIAN\SQLEXPRESS;Integrated Security=SSPI" />
    <add key="ReportsConnectString" value="Provider=SQLOLEDB;Server=ITQ-BRIAN\SQLEXPRESS;Database=AIMS;Data Source=ITQ-BRIAN\SQLEXPRESS;Integrated Security=SSPI" />
    <add key="CaseManagersSMSCellList" value="27836415911" />
    <add key="SMTPServer"       value="za-smtp-o365-outbound-1.mimecast.co.za"/>
    <add key="SMTPUserName"       value="operations@aims.org.za"/>
    <add key="SMTPPassword"       value="MimeOps@2021"/>
  </appSettings>
</configuration>