<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AIMSClient.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB;Server=AIMS-SYSTEMS02\JUPITER;Database=AIMS;User ID=aims;Password=Aims2016"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="wordDictionary.DictionaryFolder" value="..\\..\\..\\dic" />
    <add key="ConnectStringOLD" value="Server=AIMS-SYSTEMS\JUPITER;Database=AIMS;User ID=aims;Password=aims1*"/>
    <!--<add key="ConnectString" value="Server=AIMS-SYSTEMS02\JUPITER;Database=AIMS;User ID=sa;Password=Aims2016"/>-->
	<add key="ConnectString" value="Server=LAPTOP-VM3C2I5J\WIGANPIER;Database=AIMS;Data Source=LAPTOP-VM3C2I5J\WIGANPIER;Integrated Security=SSPI"/>
    <add key="ConnectStringNEW" value="Server=AIMS-SYSTEMS\JUPITER;Database=AIMS;Data Source=AIMS-SYSTEMS\JUPITER;Integrated Security=SSPI" />
    <add key="ReportsConnectString" value="Provider=SQLOLEDB;Server=ITQ-BRIAN\SQLEXPRESS;Database=AIMS;Data Source=ITQ-BRIAN\SQLEXPRESS;Integrated Security=SSPI" />
    <add key="SMTPServer"       value="za-smtp-outbound-1.mimecast.co.za"/>
    <add key="SMTPUserName"       value="operations@aims.org.za"/>
    <add key="SMTPPassword"       value="Aimsops2018"/>
  </appSettings>
</configuration>