<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectStringOLD" value="Provider=SQLOLEDB;Data Source=ITQ-BRIAN\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=AIMS"/>
    <add key="ConnectString" value="Server=AIMS-SYSTEMS02\JUPITER;Database=AIMS;User ID=aims;Password=Aims2016"/>
  </appSettings>
</configuration>