<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectStringLOCAL" value="Provider=SQLOLEDB;Data Source=ITQ-BRIAN\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=AIMS"/>
    <add key="ConnectStringOLD" value="Provider=SQLOLEDB;Data Source=AIMS-SYSTEMS02\JUPITER;Database=AIMS;User ID=aims;Password=Aims2016"/>
    <add key="ConnectString" value="Provider=SQLOLEDB;Server=AIMS-SYSTEMS02\JUPITER;Database=AIMS;User ID=aims;Password=Aims2016"/>
    <add key="CaseLastCommentSLA" value="2"/>
  </appSettings>
</configuration>