<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
	<appSettings>
		<!-- The application ID from your app registration -->
		<add key="appId" value="2efcf754-471e-4a9a-85fd-f3dd08b62c35" />
		<!--<add key="appId" value="5f7225cf-eab4-4584-848d-0c5ebf607eee" />-->
		<!-- The tenant ID copied from your app registration -->
		<add key="tenantId" value="9d40314f-1d37-457d-b900-21bc738c85bd"/>
		<!-- The application's client secret from your app registration. Needed for application permission access -->
		<add key="clientSecret" value="uE08Q~BgmekX41aZOWUmtI0D~KcPNASSRfUOQb6X"/>
	</appSettings>
	<system.web>
		<!--<compilation debug="true" targetFramework="4.5.2"/>
		<httpRuntime targetFramework="4.5.2"/>-->
	</system.web>
	<!--<system.net>
		<defaultProxy>
			<proxy 
				usesystemdefault="True"
				proxyaddress="http://172.28.13.79:8080" 
				bypassonlocal="True" 
				autoDetect ="False"
				/>
		</defaultProxy>
	</system.net>-->
<system.net>
	<defaultProxy enabled="false"></defaultProxy>
</system.net>
</configuration>
